<div id="navbar">
	<h1 id="logo">Discussion Board</h1>
	<div id="navButtons">
		<a href="#/dashboard">Dashboard</a> <a href="#/" ng-click="logout()" class="btn">Logout</a>
	</div>
</div>

<!-- POST -->
<div id="post">
	<h2 class="fw"><b>{{ post.topic }}</b></h2>
	<div id="postContent">
		<p class="fw indentone">"{{ post.description }}"</p>	
		<p class="gray">-<a href="#/user/{{ post.user.id }}">{{ post.user.name }}</a> <time am-time-ago="post.created_at"></time></p>
	</div>

	<!-- ANSWER FORM -->
	<form class="indentone" ng-submit="createAnswer(newAnswer)">
		<textarea cols="150" rows="5" ng-model="newAnswer.content"></textarea>
		<input type="submit" value="Post" class="btn"> 
	</form>

</div>


<!-- ANSWERS -->
<div class="answer fw" ng-repeat="answer in post.answers | orderBy: '-upvote'">

	<div class="answerContent">
		<!-- VOTES -->
		<element class="votes">
			{{ answer.upvote }} <img src="assets/img/thumbsup.png" alt="vote up" class="vote" ng-click="voteUp(answer)">
			{{ answer.downvote }} <img src="assets/img/thumbsdown.png" alt="vote down" class="vote" ng-click="voteDown(answer)">
		</element>
		<div class="answerMessage">
			<p>
				"{{ answer.content }}""
			</p>
			<p class="gray">-<a href="#/user/{{ answer.user._id }}">{{ answer.user.first_name }}</a></p>
		</div>
	</div>


<!-- COMMENTS -->
	<div class="answerComments indenttwo" ng-repeat="comment in answer.comments">
		<p><a href="#/user/{{ comment.user._id }}">{{ comment.user.first_name }}</a> "{{ comment.content }}"</p>
	</div>


	<form class="indenttwo" ng-submit="createComment(newComment)">
		<textarea cols="130" rows="5" ng-model="newComment[$index].content"></textarea>
		<input type="submit" value="Comment" class="btn">
	</form>

	<hr>
</div>